extends layout

block content
  h1= title
  p Welcome to #{title}
  p Ignore styling for now, can make pretty later...

      form(action = "/results/", method = "POST")
         div
            label(for = "genre") Genre:
            select(name = "genre")
              for val in ['Horror', 'Comedy', 'Romantic Comedy', 'Documentary', 'Romance']
                option=val
         br
         button(type = "submit") Send my greetings