doctype html
html
  head
    title= message
  body
    h2= 'Our Reccomendation:' + title
    div
        p Poster:
        img(src='https://m.media-amazon.com/images/M/MV5BZGViZjVkOGItM2E3NS00ZDJlLTg4ZTctOTQ4MDNmZTVmNzUxXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,631,1000_AL_.jpg', alt="image", width='130px')
