extends layout

block content
    //p #{results}
    for obj in JSON.parse(results)
        if(!!obj.docs)
            for doc in obj.docs
                h1 #{doc.original_title}
                - var path = "http://image.tmdb.org/t/p/w500/" + doc.backdrop_path
                img(src=path)
                h3 Overview:
                br
                p #{doc.overview}