extends layout

block content
    p #{JSON.stringify(results)}
    each response in JSON.parse(results)
        if (!!response.docs)
            for doc in response.docs
                p #{doc.original_title}